@font-face{
    font-family: Orbitron;
    src:url(../fonts/alarm.ttf);
}
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #FF9500;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif; 
}

a {
  text-decoration: none;
  color: #FFF;
}

h1 {
  margin: 0;
}

ol {
  display: block;
  font-size: 3.5vh;
  height: 37vh;
  margin-bottom: 5vh;
  overflow: auto; 
  text-align: center;
  width: 100%;
  font-family: Orbitron;
}

/* - Cabecera - */
.cabecera {
  background: #F44336;
  display: block;
  height: 6vh;
  line-height: 6vh;
  width: 100%;
}
.cabecera h2 {
  float: left;
  font-size: 4vh;
  margin-left: 1vw;
}

.logo {
  float: left;
  height: 5vh;
  margin-left: 1vw;
  margin-top: 0.5vh;
}

.close {
  float: right;
  height: 6vh;
  margin-right: 1vw;
  margin-top: 0.75vh;
}

/* - Pie de página - */
.pie {
  background: #E66000;
  bottom: 0;
  display: block;
  font-size: 3vh;
  height: 6vh;
  line-height: 6vh;
  position: fixed;
  text-align: center;
  width: 100%;
}
.pie:hover {
  background: #330000;
}

/* - Cuerpo - */
.button {
  background: #E66000;
  border-radius: 5px;
  display: inline-block;
  font-size: 3.5vh;
  height: 10vh;
  line-height: 10vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
  text-align: center;
  width: 40vw;
}
.button:hover {
  background: #330000;
}

.clock {
  font-size: 3.5vh;
  line-height: 15vh;
  height: 15vh;
  text-align: center;
  text-shadow: -1px 1px #000;
  width: 100%;
  font-family: Orbitron;
}

.cuerpo{
  text-align: center;
}
.cuerpo a {
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 3vh;
}
.cuerpo h1 {
  display: block;
  font-size: 3.3vh;
  padding-top: 5vh;
}
