<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.github.jjuanhdez.cronometro"
	versionCode = "1"
	version     = "1.1.0" >

<!-- versionCode is optional and Android only -->
	<icon src="icon.png" />

	<name>Cronómetro</name>

	<description>
      Aplicación de un sencillo pero potente cronómetro.
- Detiene el tiempo en milisegundos.
- Completamente libre de publicidad.
- Además, se puede utilizar como un juego para parar en tan sólo 10 segundos.
	</description>

	<author email="jjuanhdez@gmail.com" href="https://aquiesta.org">
      J. Juan Hernández
	</author>
	
	<content src="index.html" />
	
<!-- Customize your app and platform with the preference element. -->
	<!-- all platforms -->
	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="orientation" value="portrait" /> <!-- default, landscape, or portrait. -->
	<preference name="fullscreen" value="true" />
	
	<!-- iOS only -->
	<preference name="target-device" value="universal" /> <!-- handset, tablet, or universal. -->
	<preference name="prerendered-icon" value="true" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="deployment-target" value="7.0" />

	<!-- Android only -->
	<preference name="android-build-tool" value="ant|gradle" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-maxSdkVersion" value="19" />
	<preference name="android-targetSdkVersion" value="12" />
	<preference name="android-installLocation" value="auto" />
	<preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
	
	<!-- Windows only -->
	<preference name="windows-arch" value="anycpu" /> <!-- anycpu, arm, x86, and x64. -->
	<preference name="windows-appx-target" value="uap" /> <!-- uap (Windows 10 Mobile / Universal), 8.1-phone, 8.1-win -->
	
</widget>
